*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	--alt-color:#8b5d27;   
	--prim-text-color: lightgrey;     
	--btn-color: rgb(54, 44, 58);
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
body {
	margin: 0px;
	background-color: var(--global-color-primary);
	font-family: var(--font-family-monospace);
	color: var(--prim-text-color);
}
p{
	font-family: var(--font-family-sans-serif);
	color: var(--alt-text-color);
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}

input, button {
	margin: 0;
	font: inherit;
}