#root, html{
    margin:0;
}

.topheader{
    max-width:100%;
    margin:auto;
    background-color: black;
    height:100px;
}
.logo{
    width:200px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
    margin-top: -2.5em;
    margin-left: 2em;
}

.navbar{
    max-width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:20px;
}
.search{
    border:none;
    padding:5px 10px;
    background-color:black ;
    font-style:italic;
    border-radius:4px;

}
.header-cart , .product-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between; 
}
ul{
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;

}
ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    text-transform: capitalize;
    color:blue;
    font-weight: bold;
}
legend{
    padding-top:2em;
}
.search{
    display: block;
}
fieldset{
border-radius:5px;
margin: .5em;
background-color: black;
border:1px solid rgb(65, 65, 65);
color: white;

}
.filter-list, .filter-list fieldset> ul {
    margin: .2em 0 0 0 ;
    display:flex;
    gap: 0em;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    
    
}
.filter-list {
    margin: 0 4.3em 0 4.3em ;
    color:white;
    font-weight:200;
    font-size:1.2em;
    
   
} 
label{
    display: flex;
    flex-wrap: nowrap;
    gap: 0em;
    justify-content: left;
    color:white;
   
}
.product-prop,.product-prop fieldset> ul {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    gap: 0.2em;
    font-size: 1.2em;
    justify-content: center;
}

.product-prop{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-bottom: 1em;
}
.sort-list{
    margin-top:20px;
    background-color: rgb(77, 117, 141);
    color:white;
    padding:5px 10px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
button[type=submit]{
    background-color: rgb(182, 130, 93);
    padding:5px 10px;
    border:none;
    color:white;
}
/* .add-cart{
    position: absolute;
    width: 100%;
    background-color:lightgoldenrodyellow;
    transition: all 0.3 ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}
.img-product:hover .add-cart{
    bottom:50px;
    opacity:1;
    padding: 10px;
    text-decoration: none;
} */
.product{
    margin-top:20px;
}
.img-product{
  max-width:200px;
  height: auto;
  margin-left:3em;
}
.addtocart{
    border:none;
}
.Image{
    max-width:200px;
  height: auto;
  margin-left:3em;
}

input[type=button]{
    margin-top:10px;
    padding:5px 10px;
    border:none;
    background-color:rgb(182, 130, 93) ;
    color:white;
    text-transform:uppercase;
    border-radius:2px;
    font-weight:bold;
    cursor: pointer;
}
.pagination {
    display: inline-block;
    margin-top:50px;
    margin-left:10em;

  }
.pagination a{
    text-decoration:none;
    color:rgb(182, 130, 93);
    font-weight: bold;
    padding-left:10px;
}

.footer{
    max-width:100%;
    margin-top:50px;
    background-color: black;
    height:100px;
}
.legal{
    padding-top:20px;
}
.legal li a{
    text-decoration: none;
    color:rgb(182, 130, 93);
    font-weight: normal;
}
.iproducts {
    background-color: #ddd;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
  }
  .iproducts data {
    text-align: right;
  }
  .photo {
    width: 2em;
    height: 2em;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
  }
  .iproduct {
    background-color: #ddd;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
  }
  .iproduct data {
    text-align: right;
  }
  .container {
    padding: 0 1em;
    width: 100%;
    max-width: 60em;
    margin: 0 auto;
  }
  .toplevel-main {
    flex-grow: 1;
  }
  .loading{
      display: grid;
      place-content: center;
      position: fixed;
      z-index: 9999;
      inset: 0;
      width: 100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.9);
      color: #fff;
      font-size: 3em;
  }
  .flash{
      animation: flashing 2s infinite;
  }

  @keyframes flashing{
      0% ,100%{
        opacity: 1;
      }
      50%{
          opacity: 0.2;
      }
  }

@media only screen and (min-width: 600px){

.product-array{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2em;
    margin-left:10em;
    width:60em;
}
.img-product{
    width:400px;
    margin-left:3em;
  }
  .product{
    margin-top:20px;
}

.filter-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pagination{
    margin-left:35em;
}
.legal{
    margin-left:20em;
}
input[type=search]{
    width:400px;
}

}