#root, html{
    margin: .2em 0 .2em 0;
}

.topheader{
    max-width:inherit;
    margin:auto;
    background-color: black;
    height:100px;
}
.logo{
    width:200px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
    margin-top: -2.5em;
    margin-left: 2em;
}

.navbar{
    max-width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:20px;
}
.search{
    border:none;
    padding:5px 10px;
    background-color:black ;
    font-style:italic;
    border-radius:4px;

}
.header-cart , .product-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between; 
}
ul{
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;

}
ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    text-transform: capitalize;
    color:blue;
    font-weight: bold;
}
legend{
    padding-top:2em;
}
fieldset{
border-radius:5px;
margin: .5em;
background-color: black;
border:1px solid rgb(65, 65, 65);
color: white;

}
.filter-list, .filter-list fieldset> ul {
    margin: .2em 0 0 0 ;
    display:flex;
    gap: 0em;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    
    
}
.filter-list{
    margin: 0 4.3em 0 4.3em ;
    color:white;
    font-weight:200;
    font-size:1.2em;
    
   
} 
label{
    display: flex;
    flex-wrap: nowrap;
    gap: 0em;
    justify-content: left;
    color:white;
   
}
.product-prop,.product-prop fieldset> ul {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    gap: 0.2em;
    font-size: 1.2em;
    justify-content: center;
}

.product-prop{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-bottom: 1em;
}
.sort-list{
    margin-top:20px;
    background-color: rgb(77, 117, 141);
    color:white;
    padding:5px 10px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
button[type=submit]{
    background-color: rgb(182, 130, 93);
    padding:5px 10px;
    border:none;
    color:white;
}
.product{
    margin-top:20px;
}
.img-product{
  width:400px;
  margin-left:3em;
}
.addtocart{
    border:none;
}

input[type=button]{
    margin-top:10px;
    padding:5px 10px;
    border:none;
    background-color:rgb(182, 130, 93) ;
    color:white;
    text-transform:uppercase;
    border-radius:2px;
    font-weight:bold;
    cursor: pointer;
}
.pagination {
    display: inline-block;
    margin-top:50px;
    margin-left:10em;

  }
.pagination a{
    text-decoration:none;
    color:rgb(182, 130, 93);
    font-weight: bold;
    padding-left:10px;
}

.footer{
    max-width:inherit;
    margin-top:50px;
    background-color: black;
    height:100px;
}
.legal{
    padding-top:20px;
}
.legal li a{
    text-decoration: none;
    color:rgb(182, 130, 93);
    font-weight: normal;
}




@media only screen and (min-width: 600px){

.product-array{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2em;
    margin-left:10em;
    width:60em;
}
.img-product{
    width:400px;
    margin-left:3em;
  }
  .product{
    margin-top:20px;
}

.filter-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pagination{
    margin-left:35em;
}
.legal{
    margin-left:20em;
}
input[type=search]{
    width:400px;
}

}